<!DOCTYPE html>
<html lang="en">
<head>
	{% load i18n static %}

	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'todo/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" href="{% static 'todo/vendor/bootstrap/css/bootstrap.min.css' %}" crossorigin="anonymous">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'todo/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	
	<link rel="stylesheet" type="text/css" href="{% static 'todo/css/home.css' %}">	

<!--===============================================================================================-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">ToDo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      	<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">{{ username }}</a>
		  	</li>
        	<li class="nav-item active">
          		<a class="nav-link" href="{% url 'todo:logout' %}">Logout</a>
        	</li>
      	</ul>
    </div>
</nav>
<br>
<div class="container btn-container">
	<div class="row">
		<div class="col col-md-3 offset-md-9 col-sm-12">
			<button class="btn btn-primary" id="task-btn">Add Task</button>
			<button class="btn btn-primary" id="todo-btn">Add Todo</button>
		</div>
	</div>
</div>
<div class="container task-container" style="margin-top: 10px;">
	<div class="row head-row">
		<div class="col-md-12 col-sm-12">
			<span class="task-head">Tasks</span>
		</div>
	</div>
	
	{% for t in tasks %}
	<div class="row">
		<div class="col-md-12 col-sm-12">
			{% ifequal t.completed 1 %}
				<input type="checkbox" id="{{ t.id }}" class="complete-task" checked>
				<span class="task-desc" style="text-decoration: line-through;" id="{{ t.tasktype }}{{ t.id }}">{{ t.task }}</span>
				</a>
			{% else %}
				<input type="checkbox" id="{{ t.id }}" class="complete-task">
				<span class="task-desc" id="{{ t.tasktype }}{{ t.id }}">{{ t.task }}</span>
			{% endifequal %}
			{% ifequal t.tasktype 'todo' %}
				<span class="badge badge-primary">todo</span>
			{% endifequal %}
		</div>
	</div>	
	{% endfor %}
		
	<!-- <div class="row">
		<div class="col-md-12 col-sm-12">
			<img src="{% static 'todo/images/icons/plus.png' %}" class="add-ico"/><input type="text" class="input" placeholder="Enter your task">
		</div>
	</div> -->
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
	  	<div class="modal-content">
			<div class="modal-header">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
					  <!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
					  <li class="breadcrumb-item"><a href="#">Library</a></li>
					  <li class="breadcrumb-item active" aria-current="page">Data</li> -->
					</ol>
				</nav>
		 		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
		  		</button>
			</div>
			<div class="modal-body">
				
				
			</div>
			<div class="modal-footer">
				<div class="modal-btns">
					<button class="btn btn-primary" id="modal-task-btn">Add Task</button>
					<button class="btn btn-primary" id="modal-todo-btn">Add Todo</button>
				</div>
			</div>
	  	</div>
	</div>
</div>
<!--===============================================================================================-->	
	<script src="{% static 'todo/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'todo/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'todo/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

	<script>
	add_task=false;
	head_task=['main'];
	head_task_id=[0];
	$('.add_task').on('click',function(event){
		event.preventDefault();
		alert("hello");
	});
	$('#task-btn').click(function(){
		if (!add_task){
			add_task=true;
			$('.head-row').after('<div class=\"row task-in-row\"><div class=\"col-md-12 col-sm-12\"><img src=\"{% static "todo/images/icons/plus.png" %}\" class=\"add-ico\"/><input type=\"text\" class=\"input task-in\" placeholder=\"Enter your task\"></div></div>');		
		}else{
			add_task=false;
			$('.task-in-row').remove();
		}
	});
	$('#modal-task-btn').click(function(){
		if (!add_task){
			modal_add_task=true;
			$('.modal-body').prepend('<div class=\"row task-in-row\"><div class=\"col-md-12 col-sm-12\"><img src=\"{% static "todo/images/icons/plus.png" %}\" class=\"add-ico\"/><input type=\"text\" class=\"input modal-task-in\" placeholder=\"Enter your task\" data-type=\"task\"></div></div>');		
		}else{
			modal_add_task=false;
			$('.task-in-row').remove();
		}
	});
	$('#modal-todo-btn').click(function(){
		if (!add_task){
			modal_add_task=true;
			$('.modal-body').prepend('<div class=\"row task-in-row\"><div class=\"col-md-12 col-sm-12\"><img src=\"{% static "todo/images/icons/plus.png" %}\" class=\"add-ico\"/><input type=\"text\" class=\"input modal-task-in\" placeholder=\"Enter your todo\" data-type=\"todo\"></div></div>');		
		}else{
			modal_add_task=false;
			$('.task-in-row').remove();
		}
	});
	$(document).on('blur','.task-in',function(){
		if($('.task-in').val().length>0){
			task=$('.task-in').val();
			
			$.ajax({
				type: "POST",
				url: "addtask",
				data: {'task':task,'csrfmiddlewaretoken': '{{ csrf_token }}','head':head_task_id[0],'tasktype':'task'},
				success: function (response) {
					add_task=false;
					$('.task-in-row').remove();
					$('.head-row').after('<div class=\"row\"><div class=\"col-md-12 col-sm-12\"><input type="checkbox" id="'+response+'" class="complete-task" ><span class=\"task-desc\" id=\"task'+response+'\">'+task+'</span></div></div>');	
				}
			});
		}else{
			add_task=false;
			$('.task-in-row').remove();
		}
	});
	$(document).on('blur','.modal-task-in',function(){
		if($(this).val().length>0){
			task=$(this).val();
			ttype=$(this).data('type');			
			$.ajax({
				type: "POST",
				url: "addtask",
				data: {'task':task,'csrfmiddlewaretoken': '{{ csrf_token }}','head':head_task_id[0],'tasktype':ttype},
				success: function (response) {
					modal_add_task=false;
					$('.modal-body .task-in-row').remove();
					if(ttype=="task"){
						$('.modal-body').prepend('<div class=\"row\"><div class=\"col-md-12 col-sm-12\"><input type="checkbox" id="'+response+'" class="complete-task" ><span class=\"task-desc\" id=\"task'+response+'\">'+task+'</span></div></div>');	
					}
					else{
						$('.modal-body').prepend('<div class=\"row\"><div class=\"col-md-12 col-sm-12\"><input type="checkbox" id="'+response+'" class="complete-task" ><span class=\"task-desc\" id=\"todo'+response+'\">'+task+'</span><span class="badge badge-primary">todo</span></div></div>');		
					}
				}
			});
		}else{
			add_task=false;
			$('.modal-body .task-in-row').remove();
		}
	});
	$(document).on('keydown','.task-in',function(e){
  		if(e.keyCode == 13){
			if($('.task-in').val().length>0){
				$(this).blur();
			}else{
				add_task=false;
				$('.task-in-row').remove();
			}
		}
	});
	$(document).on('keydown','.modal-task-in',function(e){
  		if(e.keyCode == 13){
			if($('.modal-task-in').val().length>0){
				$(this).blur();
			}else{
				modal_add_task=false;
				$('.modal_body .task-in-row').remove();
			}
		}
	});
	$('.complete-task').on('change',function(){
		var self=this;
		id=$(this).attr('id');
		if(this.checked){
			$.ajax({
				type: "POST",
				url: "complete",
				data: {
					'id':id,
					'status':1,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				success: function (response) {
					$(self).parent().children('.task-desc').css('text-decoration','line-through');	
				}
			});
		}else{
			$.ajax({
				type: "POST",
				url: "complete",
				data: {
					'id':id,
					'status':0,					
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				success: function (response) {
					$(self).parent().children('.task-desc').css('text-decoration','none');	
				}
			});
		}
	});
	$('#todo-btn').click(function(){
		if (add_task){
			add_task=false;
			$('.task-in-row').remove();						
		}
		$.confirm({
			title: 'New ToDo',
			theme: 'supervan',
			closeIcon: true,
			escapeKey: true,
    		backgroundDismiss: true,
			content: '' +
			'<form action="" class="formName">' +
			'<div class="form-group"><br>'  +
			'<input type="text" placeholder="Enter todo name" class="name form-control" required />' +
			'</div>' +
			'</form>',
			buttons: {
				formSubmit: {
					text: 'Submit',
					btnClass: 'btn-blue',
					action: function () {
						var name = this.$content.find('.name').val();
						if(name){
							$.ajax({
								type: "POST",
								url: "addtask",
								data: {'task':name,'csrfmiddlewaretoken': '{{ csrf_token }}','head':head_task_id[0],'tasktype':'todo'},
								success: function (response) {
									// $(this).remove();
									
									$('body .head-row').after('<div class=\"row\"><div class=\"col-md-12 col-sm-12\"><input type="checkbox" id="'+response+'" class="complete-task" ><span class=\"task-desc\" id=\"todo'+response+'\">'+name+'</span><span class="badge badge-primary">todo</span></div></div>');	
								}
							});
						}
					}
				},
				
			},
			onContentReady: function () {
				// bind to events
				var jc = this;
				this.$content.find('form').on('submit', function (e) {
					// if the user submits the form by pressing enter in the field.
					e.preventDefault();
					jc.$$formSubmit.trigger('click'); // reference the button and click it
				});
			}
		});
	});
	$(document).on('click','.task-desc',function(){
		ttype=$(this).prop('id');
		tname=$(this).text();
		// alert(ttype.slice(0,4));
		if(ttype.slice(0,4)=='todo'){
			tid=ttype.slice(4,ttype.length);
			index_todo=head_task_id.indexOf(tid)
			if(index_todo==-1){
				head_task_id.unshift(tid);
				head_task.unshift(tname);
			}else{
				head_task=head_task.slice(index_todo,);
				head_task_id=head_task_id.slice(index_todo,);
			}
			console.log(head_task);
			$.ajax({
				type: "POST",
				url: "fetchtodo",
				data: {'id':tid,'csrfmiddlewaretoken': '{{ csrf_token }}'},
				dataType : "JSON",
				success: function (response) {
					$('.modal-body').html('');
					$('.breadcrumb').html('');
					for (let i = head_task.length - 2; i>=1 ; i--) {
    					$('.breadcrumb').append('<li class="breadcrumb-item"><a href="#" class="task-desc" id="todo'+head_task_id[i]+'">'+head_task[i]+'</a></li>');
					}
					$('.breadcrumb').append('<li class="breadcrumb-item active" aria-current="page">'+head_task[0]+'</li>');
					$.each(response, function (indexInArray, valueOfElement) { 
						if(valueOfElement['fields']['tasktype']=='todo'){
							if(valueOfElement['fields']['completed']==1){
								$('.modal-body').append('<div class=\"row\"><div class=\"col-md-12 col-sm-12\"><input type="checkbox" id="'+valueOfElement['pk']+'" class="complete-task" checked><span class=\"task-desc\" id=\"todo'+valueOfElement['pk']+'\" style=\"text-decoration:line-through\">'+valueOfElement['fields']['task']+'</span><span class="badge badge-primary">todo</span></div></div>');	
							}
							else{
								$('.modal-body').append('<div class=\"row\"><div class=\"col-md-12 col-sm-12\"><input type="checkbox" id="'+valueOfElement['pk']+'" class="complete-task" ><span class=\"task-desc\" id=\"todo'+valueOfElement['pk']+'\">'+valueOfElement['fields']['task']+'</span><span class="badge badge-primary">todo</span></div></div>');	
							}
						}else{
							if(valueOfElement['fields']['completed']==1){
								$('.modal-body').append('<div class=\"row\"><div class=\"col-md-12 col-sm-12\"><input type="checkbox" id="'+valueOfElement['pk']+'" class="complete-task" checked><span class=\"task-desc\" id=\"todo'+valueOfElement['pk']+'\" style=\"text-decoration:line-through\">'+valueOfElement['fields']['task']+'</div></div>');		
							}
							else{
								$('.modal-body').append('<div class=\"row\"><div class=\"col-md-12 col-sm-12\"><input type="checkbox" id="'+valueOfElement['pk']+'" class="complete-task" ><span class=\"task-desc\" id=\"todo'+valueOfElement['pk']+'\">'+valueOfElement['fields']['task']+'</div></div>');			
							}
						}	
					});
					if(!(($(".modal").data('bs.modal') || {})._isShown)){
						$('.modal').modal('show');
					}
					// $('.modal').modal('show');
					
				}
			});
			
		}
	});
	$('.modal-body').on('change','.complete-task',function(){
		var self=this;
		id=$(this).attr('id');
		if(this.checked){
			$.ajax({
				type: "POST",
				url: "complete",
				data: {
					'id':id,
					'status':1,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				success: function (response) {
					$(self).parent().children('.task-desc').css('text-decoration','line-through');	
				}
			});
		}else{
			$.ajax({
				type: "POST",
				url: "complete",
				data: {
					'id':id,
					'status':0,					
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				success: function (response) {
					$(self).parent().children('.task-desc').css('text-decoration','none');	
				}
			});
		}
	});
	$('#exampleModalCenter').on('hidden.bs.modal', function (e) {
		head_task=['main'];
		head_task_id=[0];
	});
	</script>
	
<!--===============================================================================================-->

</body>
</html>