<!DOCTYPE html>
<html lang="en">
<head>
	{% load i18n static %}

	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'todo/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'todo/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'todo/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'todo/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'todo/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'todo/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'todo/css/home.css' %}">
<!--===============================================================================================-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">ToDo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      	<ul class="navbar-nav ml-auto">
        	<li class="nav-item active">
          		<a class="nav-link" href="{% url 'todo:logout' %}">Logout</a>
        	</li>
       		<li class="nav-item">
          		<a class="nav-link" href="#">{{ username }}</a>
        	</li>
      	</ul>
    </div>
</nav>
<br>
<div class="container btn-container">
	<div class="row">
		<div class="col col-md-3 offset-md-9 col-sm-12">
			<button class="btn btn-primary" id="task-btn">Add Task</button>
			<button class="btn btn-primary" id="todo-btn">Add Todo</button>
		</div>
	</div>
</div>
<div class="container task-container" style="margin-top: 10px;">
	<div class="row head-row">
		<div class="col-md-12 col-sm-12">
			<span class="task-head">Tasks</span>
		</div>
	</div>
	
	{% for t in tasks %}
	<div class="row">
		<div class="col-md-12 col-sm-12">			
			{% ifequal t.completed 1 %}
				<input type="checkbox" id="{{ t.id }}" class="complete-task" checked>
				<span class="task-desc" style="text-decoration: line-through;">{{ t.task }}</span>
			{% else %}
				<input type="checkbox" id="{{ t.id }}" class="complete-task">
				<span class="task-desc">{{ t.task }}</span>
			{% endifequal %}					
		</div>
	</div>	
	{% endfor %}
		
	<!-- <div class="row">
		<div class="col-md-12 col-sm-12">
			<img src="{% static 'todo/images/icons/plus.png' %}" class="add-ico"/><input type="text" class="input" placeholder="Enter your task">
		</div>
	</div> -->
</div>
<!--===============================================================================================-->	
<script src="{% static 'todo/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'todo/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'todo/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'todo/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'todo/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<script>
	add_task=false;
	head_task=0
	$('.add_task').on('click',function(event){
		event.preventDefault();
		alert("hello");
	});
	$('#task-btn').click(function(){
		if (!add_task){
			add_task=true;
			$('.head-row').after('<div class=\"row task-in-row\"><div class=\"col-md-12 col-sm-12\"><img src=\"{% static "todo/images/icons/plus.png" %}\" class=\"add-ico\"/><input type=\"text\" class=\"input task-in\" placeholder=\"Enter your task\"></div></div>');		
		}
	});
	$(document).on('blur','.task-in',function(){
		if($('.task-in').val().length>0){
			task=$('.task-in').val();
			
			$.ajax({
				type: "POST",
				url: "addtask",
				data: {'task':task,'csrfmiddlewaretoken': '{{ csrf_token }}','head':head_task},
				success: function (response) {
					add_task=false;
					$('.task-in-row').remove();
					$('.head-row').after('<div class=\"row\"><div class=\"col-md-12 col-sm-12\"><input type="checkbox" id="'+response+'" class="complete-task" >'+task+'</div></div>');	
				}
			});
		}else{
			add_task=false;
			$('.task-in-row').remove();
		}
	});
	$(document).on('keydown','.task-in',function(e){
  		if(e.keyCode == 13){
			if($('.task-in').val().length>0){
				$(this).blur();
			}else{
				add_task=false;
				$('.task-in-row').remove();
			}
		}
	});
	$('.complete-task').on('change',function(){
		var self=this;
		id=$(this).attr('id');
		if(this.checked){
			$.ajax({
				type: "POST",
				url: "complete",
				data: {
					'id':id,
					'status':1,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				success: function (response) {
					$(self).parent().children('.task-desc').css('text-decoration','line-through');	
				}
			});
		}else{
			$.ajax({
				type: "POST",
				url: "complete",
				data: {
					'id':id,
					'status':0,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				success: function (response) {
					$(self).parent().children('.task-desc').css('text-decoration','none');	
				}
			});
		}
	});
	</script>
<!--===============================================================================================-->

</body>
</html>